.mentor-card {
    position: relative;
    flex: 0 0 auto;
    width: 300px;
    height: 390px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 33.33px;
    background: #fff;
    overflow: hidden;
}

.mentor-card h4 {
    color: #7C7C7C;
}

.mentor-text {
    width: 75%;
}

.mentor-reviews img {
    width: 30px !important;
    height: 30px !important;
}

.mentor-card img {
    width: 40%;
    height: auto;
}

.mentor-card button {
    border-radius: 11px;
    width: 170px;
    height: 40px;
}

.mentor-stars {
    line-height: 30px;
}

.skill-badge {
    width: 500px;
}

.mentor-info button {
    background-image: -webkit-linear-gradient(#9747FF, #1677E0);
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 10px;
}

@media only screen and (min-width:1024px) {
    .mentor-text {
        width: 47%;
    }
}